body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#input-el{
    border: 2px solid #5f9341;
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}
#input-btn{
    font-weight: bold;
    color: white;
    border: 2px solid #5f9341;
    background-color: #5f9341;
    padding: 10px 20px;
}